
#crypto-converter {
    max-width: 400px;
    padding: 1rem;
    margin-top: 2rem;
}


html, body {
    height: 100%;
}




.mt-custom {
    margin-top: 100px  !important; /* Заміни 100px на потрібне значення */
}
