<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
    {% block head %}
    <title>{% block title %}{% endblock %}Kupets web page</title>
    {% endblock %}
</head>

<body class="d-flex flex-column min-vh-100">
    <header>
        <!-- Fixed navbar -->
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Fixed navbar</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    {% block content %}
    <main class="container flex-grow-1 mt-custom">
        <h1 class="h3 mb-3 fw-normal text-center">Currency Exchange Calculator</h1>
        <form id="crypto-converter" class="w-100 m-auto">
            <div class="form-floating">
                <select class="form-select" id="cryptoSelect" required>
                    <option value="btc">Bitcoin (BTC)</option>
                    <option value="sol">Solana (SOL)</option>
                    <option value="eth">Ethereum (ETH)</option>
                </select>
                <label for="cryptoSelect">Select cryptocurrency</label>
            </div>
            <div class="form-floating mt-3">
                <input type="number" class="form-control" id="cryptoAmount" placeholder="Enter amount" required>
                <label for="cryptoAmount">Amount</label>
            </div>
            <div class="form-floating mt-3">
                <input type="number" class="form-control" id="usdAmount" placeholder="USD Amount" readonly>
                <label for="usdAmount">USD Equivalent</label>
            </div>
            <button class="btn btn-primary w-100 py-2 mt-3" type="submit">Convert</button>
        </form>
    </main>
    {% endblock %}

    <footer class="bg-dark text-light py-3 mt-auto">
        <div class="container">
            <p class="text-center mb-0">© 2017–2024</p>
        </div>
    </footer>

    <!-- Підключення JS -->
    <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>

</html>
