<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">

</head>
<body>
    <header class="header">
        <div class="logo" onclick="window.location.href='{{ url_for('index') }}'">CryptoKupets</div>
        <div class="nav-buttons">
            <a href="{{ url_for('data_page') }}"><button>Button 1</button></a>
            <button>Button 2</button>
            <button>Button 3</button>
        </div>
        <div class="auth-buttons">
            <a href="{{ url_for('signin_page') }}">
                <button>Sign In</button>
            </a>
            <a href="{{ url_for('signup_page') }}">
                <button>Sign Up</button>
            </a>
        </div>
    </header>
    
    <div class="container">
        <h1>Sign In</h1>
        <form id="sign-up-form">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>

            <button type="submit">Sign In</button>
        </form>
    </div>

    <script src="script.js"></script>
</body>
</html>
