{% extends "index.html" %}
{% block title %}
SignUp - 
{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<h1>Sign Up</h1>
        <form id="sign-in-form">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>

            <label for="login">Login:</label>
            <input type="text" id="login" name="login" required>

            <label for="telephone">Telephone:</label>
            <input type="tel" id="telephone" name="telephone" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>

            <button type="submit">Sign Up</button>
        </form>
{% endblock %}